* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}
body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   background-image: linear-gradient(20deg, cyan, magenta);
}
.wrapper {
   max-width: 500px;
   width: 100%;
   background: #fff;
   margin: 50px auto;
   padding: 30px;
}

.wrapper h2 {
   background: #afeef7;
   font-size: 24px;
   font-weight: 700;
   margin: -30px -30px 30px -30px;
   padding: 20px;
   color: black;
   text-transform: uppercase;
   text-align: center;
}

.wrapper .form {
   width: 100%;
}

.wrapper .form .inputfield {
   margin-bottom: 15px;
   display: flex;
   align-items: center;
}

.wrapper .form .inputfield label {
   width: 200px;
   color: black;
   margin-right: 10px;
   font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
   width: 100%;
   outline: none;
   border: 1px solid #d5dbd9;
   font-size: 15px;
   padding: 8px 10px;
   border-radius: 3px;
   transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
   width: 100%;
   height: 125px;
   resize: none;
}

.wrapper .form .inputfield .custom_select {
   position: relative;
   width: 100%;
   height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
   content: "";
   position: absolute;
   top: 12px;
   right: 10px;
   border: 8px solid;
   border-color: #d5dbd9 transparent transparent transparent;
   pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
   appearance: none;
   outline: none;
   width: 100%;
   height: 100%;
   border: 0px;
   padding: 8px 10px;
   font-size: 15px;
   border: 1px solid #d5dbd9;
   border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
   border: 1px solid #fec107;
}

.wrapper .form .inputfield p {
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check {
   width: 15px;
   height: 15px;
   position: relative;
   display: block;
   cursor: pointer;
}

.wrapper .form .inputfield .btn {
   width: 100%;
   padding: 8px 10px;
   font-size: 15px;
   border: 0px;
   background: #fec107;
   color: #fff;
   cursor: pointer;
   border-radius: 3px;
   outline: none;
}

.wrapper .form .inputfield .btn:hover {
   background: #ffd658;
}

.wrapper .form .inputfield:last-child {
   margin-bottom: 0;
}

@media (max-width: 420px) {
   .wrapper .form .inputfield {
      flex-direction: column;
      align-items: flex-start;
   }
   .wrapper .form .inputfield label {
      margin-bottom: 5px;
   }
   .wrapper .form .inputfield.terms {
      flex-direction: row;
   }
}
